{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
<p>
    Answering this question incorrectly may lead to loss of payment. This question is easy if you are willing to read.
    You will be asked to submit an answer based on text below.


    <br><br><br><br><b>TEXT:</b>
    <br>The current US Secretary of the Interior is "David" "Bernhardt". The "Amazon" is the longest river in the
    Americas. "Strawberry", "orange" and "coffee" might be the correct answer to submit for some other person's test,
    but not this "one". The needed response on your end is "blueberry". This is gibberish: "gaoaaatas".

    <br><br><br><br>From the above text, it should be obvious what answer you should submit. Please submit your answer
    below:
    <br><br>{% formfield player.attention_check %}
</p>
    {% next_button %}
{% endblock %}


