{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questions about this Experiment
{% endblock %}

{% block content %}

<p>
    <br><br><b>Please write one or two sentences to answer each of the following questions. </b>
    <br><br> What did you do in this experiment?
    <br>{% formfield player.free_response_1 %}
    <br><br> What was your strategy around donating money to {{ cause }}?
    <br>{% formfield player.free_response_2 %}
    <br><br> Did your strategy change after seeing the market research? Why or why not?
    <br>{% formfield player.free_response_3 %}
    <br><br> What was your strategy for the coin flip and red ball/black ball questions?
    <br>{% formfield player.free_response_4 %}
</p>

{% next_button %}

{% endblock %}
