{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ineligible
{% endblock %}

{% block content %}

<p>
    <br><br> You are ineligible for this study, as you have provided information which is inconsistent with your
    Prolific prescreening responses for Pro-Life/Pro-Choice. Please return your submission on
    Prolific by selecting the 'Stop without completing' button.
    <br><br>Note: This is standard screening protocol for Prolific. See the URL below.
    <br>https://researcher-help.prolific.co/hc/en-gb/articles/360009224113-Qualtrics-Integration-Guide
</p>

{% endblock %}
