{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p>
    <br><br>In this experiment, you will be assuming the role of CEO in a small sweater company. You are in charge of
    making strategic decisions on a new line of sweater. There are four strategic decisions to make:
    <br>
    <ul>
    <li>Type (cardigan, sweater vest, or turtleneck)</li>
    <li>Cotton content in the sweater (0% - 100%)</li>
    <li>Price of the sweater ($9 - $109)</li>
    <li>Social engagement with a non-profit cause</li>
    </ul>
    As part of this last decision, you will make choices on how to strategically engage with <b>{{ cause }},
    {{ cause_statement }}</b>. Your engagement can take one of two forms: taking no social action or donating 10% of
    your earnings in a period to {{ cause }}.
    <br><br>The previous CEO of your company has left you a letter detailing the company's historic approach to
    strategic decision-making. You will see this letter on the next page; please read it carefully since you will not be
    able to return to this page.
    <br><br>This experiment consists of 20 periods split into two halves (periods 1 - 10 in the first half, and periods
    11 - 20 in the second half). In each period, you will make strategic decisions about sweater production and learn
    the earnings associated with each decision set. Following these 20 periods, you will complete a short questionnaire
    and will be informed of your earnings. One period from each half will be chosen at random at the end of
    the experiment for payment, and the computer will average these two values for your final payment. The page will
    also note any earnings you chose to donate to {{ cause }}.
    <br><br><b>There is a good chance you will make more than 6.75 USD. Any amount you earn over 6.75 USD will
    be paid to you as a bonus within 5 business days of completing the experiment</b>.
    <br><br>All earnings and donations in this experiment are paid out in <u>real money</u>. You will receive your
    earnings after participating in the experiment, and {{ cause }} will receive the accumulated donations from
    participants once all experimental sessions are complete.
    </br></br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</p>

{% endblock %}
