{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Letter from Previous CEO
{% endblock %}

{% block content %}

<p>
    <br>Congratulations on your promotion!
    <br><br>Below are some guidelines that you may find useful when making sweater production decisions. When I ran the
    business, I found that the following approach yielded solid profits.
    <br><br>Type: Sweater Vest
    <br>Cotton: 80%
    <br>Price: $49
    <br>Social Action: No Action
    <br><br>This approach resulted in me earning $3.00 per period.
    <br><br>I have experimented with the type of sweater, the cotton content, and the price, and have found these
    combinations to be profitable. As a side note, our company doesn't have a history of speaking out on social issues
    or donating to non-profit causes, so I don't know how donating will impact profitability beyond
    the upfront cost of donation. Choosing to donate may also require different production strategies
    and approaches to maintain profits.
    <br><br>Best wishes for continued success.
</p>

    {% next_button %}

{% endblock %}
