{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Market Research Introduction
{% endblock %}

{% block content %}

<p>
    <br><br>Thank you for completing the first half. The next half will be exactly the same structure as the first half
    except for one difference. Now, you will have access to a market research report, which shows the outcomes of
    one decision bundle.
    <br><br>There is only one market research report available, and it will be shown on the next page
    <br><br> Please click next to continue.
    </br></br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</p>

{% endblock %}
