{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p>
    <br><br>Please copy/paste your Prolific ID into the following box. You will not be paid unless we can match your
    Prolific ID to our records.
    <br><br>Please note that you may only take this experiment once and will be paid for your first attempt. You also
    may not take a future version of this experiment (Strategy Game) that is posted to Prolific.
    <br>{% formfield player.prolific_id %}
    <br><br><button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</p>

{% endblock %}
