{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
<p>
    Please answer a few questions. If you do not feel comfortable answering a question, you may leave it blank.
    <br><br>Age:
    <br><br>{% formfield player.age %}
    <br>Gender:
    <br><br>{% formfield player.gender %}
    <br>Race:
    <br><br>{% formfield player.race %}
    <br>Have you volunteered within the past year?
    <br><br>{% formfield player.volunteer %}
    <br>Have you donated to a charitable cause within the past year?:
    <br><br>{% formfield player.donated %}
    <br>Which choice best describes your political orientation with respect to <b>social issues</b>?:
    <br><br>{% formfield player.politics %}
    <br>Do you believe it is appropriate for CEOs to take stances on controversial political issues in society?
    <br><br>{% formfield player.stance_opinion %}
    <br>Do you believe it is appropriate for firms to engage in costly corporate social responsibility (CSR) programs
    that do not directly increase shareholder value (e.g., giving money to outside charities, community volunteering)?
    <br><br>{% formfield player.csr_opinion %}
    <br><br>Consider the following hypothetical scenario:
    <br><br>A team of doctors are in charge of an intensive care unit
    in a hospital. The hospital only has one ventilator which is being used by a sick patient.
    One day, five new patients are admitted to the intensive care unit with severe breathing problems.
    The hospital cannot obtain additional ventilators in time to save these patients.
    After examining the patients, however, the doctors realize that they can keep each of the
    five new patients alive by removing the ventilator from the original patient and rotating it among the five.
    Taking this action, however, would cause the original patient to die.
    <br><br>If the only choices are to leave the
    ventilator in the original patient or rotate it among the five new patients,
    which action should the doctors choose to take?
    <br><br>{% formfield player.trolley %}
</p>
    {% next_button %}
{% endblock %}
